Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan

Use shorter meta description (#123)
  src/app/layout.tsx
Owners: none

Remove redundant try-catch for proper stack trace logging; removed AddAgendaItemsCategoriesView migration due to potential performance issues
  seeds/1746647286572_AddToTagCategories.ts
  src/migrations/1746652473628_AddAgendaItemsCategoriesView.ts
Owners: none

#119 add title metadata to every page to improve SEO (#128)
  src/app/about/page.tsx
  src/app/actions/item/[reference]/page.tsx
  src/app/actions/page.tsx
  src/app/coming-soon/page.tsx
  src/app/councillors/[contactSlug]/page.tsx
  src/app/councillors/page.tsx
  src/app/feedback/page.tsx
  src/app/how-council-works/page.tsx
  src/app/join-newsletter/page.tsx
  src/app/privacy/page.tsx
Owners: @shrouxm, @mattorchard, @sarmilan

TEST: permissions test PR
  README.md
Owners: none

docs: explain PR permissions
  docs/CONTRIBUTING.md
Owners: none

feat: add analytics via umami (#141)
  docs/DEPENDENCIES.md
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/privacy/page.tsx
  src/components/AgendaItemCard.tsx
  src/components/search.tsx
  src/components/subscribeToSearchButton.tsx
Owners: none

docs: explain PR permissions (#154)
  docs/CONTRIBUTING.md
Owners: none

Adds councillor to voting records page
  src/app/councillors/[contactSlug]/components/ContactBio.tsx
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
  src/app/councillors/[contactSlug]/page.tsx
Owners: @mattorchard

Use shorter meta description (#156)
  src/app/layout.tsx
Owners: none

Fix mayor avatar height
  src/components/Avatar.tsx
Owners: none

Migration tags data (#149)
  package.json
  seeds/1746647286572_AddToTagCategories.ts
  seeds/categories_tags.json
  src/database/generatedDbTypes.d.ts
  src/migrations/1746212941874_AddTagCategoriesTable.ts
Owners: none

Add openAI dependency
  package-lock.json
  package.json
Owners: none

Add AI summary TS script
  src/database/pipelines/addAISummary.ts
Owners: none

Add AI summaries to insertion function
  src/database/pipelines/addAISummary.ts
  src/database/queries/agendaItems.ts
Owners: none

Fix some lint issues
  src/database/pipelines/addAISummary.ts
  src/database/queries/agendaItems.ts
Owners: none

fix: add a function to check whether umami exists before calling it
  .eslintrc.json
  src/api/analytics.ts
  src/components/AgendaItemCard.tsx
  src/components/search.tsx
  src/components/subscribeToSearchButton.tsx
Owners: none

fix: add a function to check whether umami exists before calling it (#162)
  .eslintrc.json
  src/api/analytics.ts
  src/components/AgendaItemCard.tsx
  src/components/search.tsx
  src/components/subscribeToSearchButton.tsx
Owners: none

Adds dedicated mayors view
  src/database/allDbTypes.d.ts
  src/migrations/1748388069316_AddMayorsView.ts
  src/scripts/repopulateRawContactsAndVotes.ts
Owners: none

Updates query to dodge raw table
  src/app/councillors/[contactSlug]/page.tsx
Owners: @mattorchard

Adds mayor to councillor list
  src/app/councillors/page.tsx
  src/components/CouncillorsList.tsx
Owners: @mattorchard

Prevent multiple terms of mayor appearing in view
  src/migrations/1748388069316_AddMayorsView.ts
Owners: none

Prettier stuff
  src/app/councillors/[contactSlug]/page.tsx
  src/app/councillors/page.tsx
  src/components/CouncillorsList.tsx
  src/migrations/1748388069316_AddMayorsView.ts
Owners: @mattorchard

Lint fix
  src/migrations/1748388069316_AddMayorsView.ts
Owners: none

lint: allow quotes and apostrophes in content
  .eslintrc.json
Owners: none

style: replace &apos; with '
  src/app/about/page.tsx
  src/app/actions/item/[reference]/page.tsx
  src/app/feedback/page.tsx
  src/app/how-council-works/page.tsx
  src/app/join/page.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/app/subscription/[token]/page.tsx
Owners: @shrouxm, @sarmilan

feat: add labs page
  package-lock.json
  package.json
  src/app/labs/elastic-search/page.tsx
  src/app/labs/elastic-search/screenshot.png
  src/app/labs/interactive-tags/page.tsx
  src/app/labs/interactive-tags/screenshot.png
  src/app/labs/page.tsx
  src/app/labs/unified-search/AgendaItemCard.tsx
  src/app/labs/unified-search/SearchBar.tsx
  src/app/labs/unified-search/SearchInterface.tsx
  src/app/labs/unified-search/avatar.tsx
  src/app/labs/unified-search/page.tsx
  src/app/labs/unified-search/sample_councillor_img.png
  src/app/labs/unified-search/screenshot.png
  src/app/labs/unified-search/separator.tsx
  src/components/navigation/Footer.tsx
Owners: none

add link to analytics page in footer
  src/components/navigation/Footer.tsx
Owners: none

allow preview deploys for pull requests that aren't on the main branch
  .github/workflows/preview.yml
Owners: none

feat: add link to analytics in footer (#174)
  src/components/navigation/Footer.tsx
Owners: none

Add OG image for main page
  src/app/opengraph-image.jpg
Owners: none

Add error handling to Public Consultation page
  src/components/PublicConsultationList.tsx
Owners: none

Add metadataBase
  src/app/layout.tsx
Owners: none

Try different way of setting OG image
  public/toronto.jpg
  src/app/layout.tsx
Owners: none

Try using the existing PNG
  src/app/layout.tsx
Owners: none

Remove unused image
  public/toronto.jpg
Owners: none

Add error handling to Public Consultation page (#176)
  src/components/PublicConsultationList.tsx
Owners: none

Add OpenGraph image for site (#175)
  src/app/layout.tsx
Owners: none

Added util functions to clean and explode/expand subject terms
  src/database/pipelines/populateAgendaItems.ts
  src/database/pipelines/textParseUtils.ts
Owners: none

Added util functions to clean and explode/expand subject terms
  src/database/pipelines/populateAgendaItems.ts
  src/database/pipelines/textParseUtils.ts
Owners: none

Reorganized added code and added preliminary db insert function
  src/api/agendaItem.ts
  src/database/pipelines/populateAgendaItems.ts
  src/database/queries/agendaItems.ts
Owners: none
