Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

chore: run formatter
  src/components/AgendaItemList.tsx
Owners: none

Added Basic caching for councillor page
  scripts/test-edge-cache.sh
  src/app/councillors/[contactSlug]/page.tsx
  src/middleware.ts
  src/workers/edge-cache.ts
Owners: @mattorchard

cleanup: remove test script and diagnostic logging from workers
  ..env.un~
  .package-lock.json.new.swp
  .vscode/launch.json
  output.txt
  scripts/test-edge-cache.sh
  src/workers/edge-cache.ts
Owners: none

Updated to include main page and all each individual councillor page
  src/middleware.ts
Owners: none

Removing local settings file added by accident
  .vscode/launch.json
Owners: none

Removed files that got accidentally committed
  ..env.un~
  .package-lock.json.new.swp
Owners: none

Create WIKI.md
  docs/WIKI.md
Owners: none

Add reusable components for text/page styling and use for /join
  src/app/join/page.tsx
  src/components/ui/page.tsx
  src/components/ui/section.tsx
  src/components/ui/text-items.tsx
Owners: none

Fix styling for Join page (and start building out design system components) (#331)
  src/app/join/page.tsx
  src/components/ui/page.tsx
  src/components/ui/section.tsx
  src/components/ui/text-items.tsx
Owners: none

docs: flesh out the DB migration documentation (#313)
  docs/CONTRIBUTING.md
Owners: none

chore: fail the lint step if there are any warnings (#311)
  docs/CONTRIBUTING.md
  package.json
  src/components/ui/combobox.tsx
Owners: none

Added validation to prevent empty email field being submitted
  src/components/subscribeToSearchButton.tsx
Owners: none

Add introductory content to DeputationsWiki.md
  contents/markdown/DeputationsWiki.md
Owners: none

Delete contents/markdown/DeputationsWiki.md
  contents/markdown/DeputationsWiki.md
Owners: none

Added DeputationsWiki.md
  contents/markdown/GovernmentGuide.md
Owners: none

Add markdown guide for Civic Dashboard wiki
  docs/wiki.md
Owners: none

Added validation to Actions page Get Email Alerts button to prevent empty values (#335)
  src/components/subscribeToSearchButton.tsx
Owners: none

Use DS components for About page
  src/app/about/page.tsx
Owners: none

Use DS components in How Council Works and replace <br> with <p>
  src/app/how-council-works/page.tsx
Owners: @sarmilan

Add Heading3 component
  src/app/how-council-works/page.tsx
  src/components/ui/text-items.tsx
Owners: @sarmilan

Add narrower page for text pages
  src/app/how-council-works/page.tsx
  src/components/ui/page.tsx
Owners: @sarmilan

fix(wiki): fix back-to-top button disappearing near footer
  src/app/wiki/wikiDocClient.tsx
Owners: none

Update "About Us" page to use new design system components (#337)
  src/app/about/page.tsx
Owners: none

Adds links to city website for councillor ward and profile
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
Owners: @mattorchard

Fixed prettier lint issues
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
Owners: @mattorchard

Added classic-link class to Councillor Profile and Ward elements
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
Owners: @mattorchard

Fix Prettier linting errors
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
Owners: @mattorchard

updated contributing.md
  docs/CONTRIBUTING.md
Owners: none

feat: add links to ward and councillor overview from councillor's pages (#341)
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
Owners: @mattorchard

Remove advanced filter from Actions page (#332)
  src/components/AgendaItemList.tsx
  src/components/search.tsx
Owners: none

Fix issue 329 - Update Back To Top button on Wiki Pages
  src/app/wiki/wikiDocClient.tsx
Owners: none

Update "How Council Works" page to use design system components (#339)
  src/app/how-council-works/page.tsx
  src/components/ui/page.tsx
  src/components/ui/text-items.tsx
Owners: @sarmilan

Update Privacy Policy page to use DS components
  src/app/privacy/page.tsx
Owners: none

Add new custom eslint rule
  .eslintrc.json
  eslint-plugin-classic-link/README.md
  eslint-plugin-classic-link/index.js
  eslint-plugin-classic-link/lib/rules/require-classic-link.js
  eslint-plugin-classic-link/package.json
  package-lock.json
  package.json
Owners: none

Organize and rename things
  .eslintrc.json
  eslint-plugin-classic-link/README.md
  eslint-plugin-classic-link/index.js
  eslint-plugin-classic-link/package.json
  eslint/custom-rules/README.md
  eslint/custom-rules/index.js
  eslint/custom-rules/lib/rules/require-classic-link.js
  eslint/custom-rules/package.json
  package-lock.json
  package.json
  src/components/ui/dropdown.tsx
Owners: none

Revert unneeded package-lock changes
  package-lock.json
Owners: none

Fix issue 329 - Update Back To Top button on Wiki Pages (#344)
  src/app/wiki/wikiDocClient.tsx
Owners: none

Parse Query documentation (#312)
  src/logic/parseQuery.ts
Owners: none

Update Privacy Policy page to use design system components (#345)
  src/app/privacy/page.tsx
Owners: none

Adding image rendering, and addition to markdown
  contents/media/documents/.gitkeep
  contents/media/images/.gitkeep
  contents/media/videos/.gitkeep
  src/scripts/markdowntohtml.js
Owners: none

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan
