Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan

Update src/components/search.tsx
  src/components/search.tsx
Owners: none

Update src/components/search.tsx
  src/components/search.tsx
Owners: none

fixed component test
  cypress.config.ts
  cypress/support/component.tsx
  package-lock.json
  package.json
  tests/component/SearchBar.cy.tsx
  tsconfig.cypress.json
Owners: none

fix typo with incorrect agenda item ID in subject line
  src/components/deputation-modals/RequestToSpeakModal.tsx
Owners: none

Fixed typo
  src/app/how-council-works/page.tsx
Owners: @sarmilan

adding instructions to deploy.yml, adding marked dependency for md to html conversion
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Owners: none

Fixed typo (#242)
  src/app/how-council-works/page.tsx
Owners: @sarmilan

#243 allow a manual preview to be run in github actions
  .github/workflows/preview_manual.yml
Owners: none

small fix
  .github/workflows/preview_manual.yml
Owners: none

#243 allow a manual preview to be run in github actions (#244)
  .github/workflows/preview_manual.yml
Owners: none

fix issue with the input variable
  .github/workflows/preview_manual.yml
Owners: none

fix issue with input variable
  .github/workflows/preview_manual.yml
Owners: none

FIX CR process 243 - fix issue with input variable (#245)
  .github/workflows/preview_manual.yml
Owners: none

CR try to fix issue by adding missing github token
  .github/workflows/preview_manual.yml
Owners: none

243 try to fix CR process again (#246)
  .github/workflows/preview_manual.yml
Owners: none

CR try to fix permission sisue in manual preview
  .github/workflows/preview_manual.yml
Owners: none

243 try to fix CR issue again with permission for manual preview (#247)
  .github/workflows/preview_manual.yml
Owners: none

Filter or sort options issue 58 (#218)
  src/components/AgendaItemList.tsx
  src/components/search.tsx
  src/components/ui/combobox.tsx
  src/constants/sortByFilterOptions.ts
  src/logic/search.ts
Owners: none

update year (test commit)
  LICENSE
Owners: none

CI update Use Check Runs instead of Commit Statuses
  .github/workflows/preview_manual.yml
Owners: none

243 new CI process to support PR from forked repos (#250)
  .github/workflows/preview_manual.yml
Owners: none

CI make forked repos skip preview to prevent failure
  .github/workflows/preview.yml
Owners: none

move preview manual to check run
  .github/workflows/preview.yml
  .github/workflows/preview_manual.yml
Owners: none

re-use the same id for the checks
  .github/workflows/preview.yml
  .github/workflows/preview_manual.yml
Owners: none

CI make forked repos skip preview to prevent failure (#251)
  .github/workflows/preview.yml
  .github/workflows/preview_manual.yml
Owners: none

Update LICENSE
  LICENSE
Owners: none

Fix typo with incorrect agenda item ID in subject line (#240)
  LICENSE
  src/components/deputation-modals/RequestToSpeakModal.tsx
Owners: none

Working on markdown to html adding dependencies
  package-lock.json
  src/content/markdown/test.md
  src/scripts/markdowntohtml.js
Owners: none

Changing directory paths, moving content/markdown to root directory, changing from content/markdown to contents/markdown
  contents/markdown/test.md
  package.json
  src/content/markdown/test.md
  src/scripts/markdowntohtml.js
Owners: none

Changed content to contents in script
  src/scripts/markdowntohtml.js
Owners: none

Working markdown to html script!!
  public/html/index.html
  public/html/test.html
  src/scripts/markdowntohtml.js
Owners: none

Read/set tags from url
  src/app/actions/page.tsx
  src/components/AgendaItemList.tsx
  src/components/search.tsx
Owners: @shrouxm

Fix lint errors
  src/components/search.tsx
Owners: none

Add heading + intro text to Actions page (#225)
  src/components/AgendaItemList.tsx
Owners: none

Added working markdown to html
  contents/markdown/info.md
  package-lock.json
  package.json
  src/app/info/page.tsx
  src/constants/navigation.ts
Owners: none

removed static build:html scripts for creating static html, dynamic next js rendering of markdown to html in tsx
  .github/workflows/deploy.yml
  contents/markdown/info.md
  package.json
  src/scripts/markdowntohtml.js
Owners: none

Removed test message
  contents/markdown/info.md
Owners: none

Added test file, removed irrelevant html files not needed anymore
  contents/markdown/test.md
  public/html/index.html
  public/html/test.html
  src/app/info/page.tsx
Owners: none

Changed empty msg
  src/app/info/page.tsx
Owners: none

Removed test file
  contents/markdown/test.md
Owners: none
