Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

Extract shared utils from both modals
  src/components/deputation-modals/RequestToSpeakModal.tsx
  src/components/deputation-modals/SubmitCommentModal.tsx
  src/components/deputation-modals/utils.ts
Owners: none

Style input fields
  src/components/deputation-modals/RequestToSpeakModal.tsx
Owners: none

Integrate info about requesting to speak
  src/components/deputation-modals/RequestToSpeakModal.tsx
  src/components/deputation-modals/SubmitCommentModal.tsx
Owners: none

Remove "if applicable" from email text
  src/components/deputation-modals/RequestToSpeakModal.tsx
Owners: none

Add hover styles to Take Action menu
  src/components/AgendaItemCard.tsx
Owners: none

move the logic to a method
  src/components/AgendaItemCard.tsx
Owners: none

Fix alignment + spacing issues in cards (#209)
  src/app/labs/page.tsx
  src/components/ui/card.tsx
Owners: none

added seed cmd
  package.json
Owners: none

Added seed command to migration script
  package.json
Owners: none

Swap alert/console.error order
  src/components/deputation-modals/utils.ts
Owners: none

Fix lint error
  src/components/deputation-modals/utils.ts
Owners: none

Use ExternalLink component instead of plain <a>
  src/components/deputation-modals/RequestToSpeakModal.tsx
Owners: none

Export dropdown item CSS for reuse
  src/components/AgendaItemCard.tsx
  src/components/ui/dropdown.tsx
Owners: none

remove unnecessary code
  src/components/AgendaItemCard.tsx
Owners: none

#125 dont show action buttons when meeting date is before today (#208)
  src/components/AgendaItemCard.tsx
Owners: none

First commit for saving -- still needs work
  src/components/search.tsx
  src/constants/sortByFilterOptions.ts
  src/contexts/SearchContext.tsx
  src/logic/search.ts
  tsconfig.json
Owners: none

Removed an experimental change'
  tsconfig.json
Owners: none

Update deputation info box contents
  src/components/deputation-modals/RequestToSpeakModal.tsx
Owners: none

feat: improve landing page layout and refactor tooltips
  public/bluesky.svg
  public/linkedin.svg
  public/slack.svg
  src/app/how-council-works/page.tsx
  src/app/page.tsx
  src/components/ui/tooltip.tsx
  src/constants/tooltips.ts
Owners: @sarmilan

use <Link> and <ExternalLink> over a tags
  src/app/page.tsx
Owners: none

QA changes: copy update
  src/app/page.tsx
Owners: none

Added seed command to migration script (#213)
  package.json
Owners: none

feat: improve landing page layout and refactor tooltips (#216)
  public/bluesky.svg
  public/linkedin.svg
  public/slack.svg
  src/app/how-council-works/page.tsx
  src/app/page.tsx
  src/components/ui/tooltip.tsx
  src/constants/tooltips.ts
Owners: @sarmilan

Revert "feat: improve landing page layout and refactor tooltips (#216)"
  public/bluesky.svg
  public/linkedin.svg
  public/slack.svg
  src/app/how-council-works/page.tsx
  src/app/page.tsx
  src/components/ui/tooltip.tsx
  src/constants/tooltips.ts
Owners: @sarmilan

Added sort by drop down near the search bar
  src/components/AgendaItemList.tsx
  src/components/search.tsx
  src/components/ui/combobox.tsx
  src/constants/sortByFilterOptions.ts
  src/contexts/SearchContext.tsx
  src/logic/search.ts
Owners: none

Fixed some lint errors
  src/components/search.tsx
  src/components/ui/combobox.tsx
  src/constants/sortByFilterOptions.ts
  src/logic/search.ts
Owners: none

Add request to speak modal (#205)
  src/components/AgendaItemCard.tsx
  src/components/deputation-modals/ReadOnlyTextField.tsx
  src/components/deputation-modals/RequestToSpeakModal.tsx
  src/components/deputation-modals/SubmitCommentModal.tsx
  src/components/deputation-modals/utils.ts
  src/components/ui/dropdown.tsx
Owners: none

Fixed indentation
  src/components/AgendaItemList.tsx
  src/components/search.tsx
  src/components/ui/combobox.tsx
  src/constants/sortByFilterOptions.ts
  src/logic/search.ts
Owners: none

Use jpgs instead of pngs
  public/committee.jpg
  public/council.jpg
  public/staff.jpg
  public/toronto.jpg
  src/app/how-council-works/page.tsx
  src/app/layout.tsx
Owners: @sarmilan

Delete pngs
  public/committee.png
  public/council.png
  public/staff.png
  public/toronto.png
Owners: none

Reduce file size for logo.png
  public/logo.png
Owners: none

Updated the UI strings based on code review comments
  src/components/search.tsx
  src/components/ui/combobox.tsx
  src/constants/sortByFilterOptions.ts
  src/logic/search.ts
Owners: none

Reduce image sizes (#220)
  public/committee.jpg
  public/committee.png
  public/council.jpg
  public/council.png
  public/logo.png
  public/staff.jpg
  public/staff.png
  public/toronto.jpg
  public/toronto.png
  src/app/how-council-works/page.tsx
  src/app/layout.tsx
Owners: @sarmilan

Added agenda item's background resources to be displayed as links on the full page agenda item card
  src/components/AgendaItemCard.tsx
Owners: none

Set agendaCd to always be lower case. Fixed linting issues
  src/components/AgendaItemCard.tsx
Owners: none

Added pagination to councillor's page for motions
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Add heading + intro text to Actions page
  src/components/AgendaItemList.tsx
Owners: none

Fixed resource numbering issue
  src/components/AgendaItemCard.tsx
Owners: none

Changed heading text and resources to attachments
  src/components/AgendaItemCard.tsx
Owners: none

UI improvement
  src/components/AgendaItemCard.tsx
Owners: none

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan
