Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

Added titles, pending fix to titles doubling
  contents/markdown/Deputations.md
  contents/markdown/Government Guide.md
Owners: none

Removed extra header, now ready for review
  src/app/wiki/[slug]/page.tsx
Owners: none

Changed to not use edge runtime
  src/app/wiki/[slug]/page.tsx
  src/app/wiki/page.tsx
Owners: none

Trying new fix
  src/app/wiki/htmlDocumentsClient.tsx
  src/app/wiki/page.tsx
  src/app/wiki/wikiDocClient.tsx
  src/app/wiki/wikiIndexClient.tsx
Owners: none

Fixed filename for md to remove space breaking render, changed logic for rendering html with links
  contents/markdown/GovernmentGuide.md
  src/app/wiki/[slug]/page.tsx
  src/app/wiki/wikiDocClient.tsx
  src/app/wiki/wikiIndexClient.tsx
Owners: none

Removed Government Guide with space
  contents/markdown/Government Guide.md
Owners: none

Fixed merge issues containing old code
  src/components/AgendaItemList.tsx
Owners: none

ParseQuesry Documentation
  docs/PARSEQUERY.md
  src/logic/parseQuery.ts
Owners: none

#263 Update contributing docs with new processes (#264)
  README.md
  docs/CONTRIBUTING.md
Owners: none

Remove Ward 25 By-Election FAQ from the footer
  src/components/navigation/Footer.tsx
Owners: none

Markdown to HTML feature for automating .md files into Civic Dashboard Wiki (#268)
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  contents/markdown/Deputations.md
  contents/markdown/GovernmentGuide.md
  package-lock.json
  package.json
  src/app/wiki/[slug]/page.tsx
  src/app/wiki/page.tsx
  src/app/wiki/wikiDocClient.tsx
  src/app/wiki/wikiIndexClient.tsx
  src/constants/navigation.ts
  src/scripts/markdowntohtml.js
Owners: none

Set URL to be the public site URL when not in testing
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
  src/app/councillors/[contactSlug]/page.tsx
  src/components/AgendaItemCard.tsx
Owners: @mattorchard

Lint fix
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Revert "Lint fix"
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Local app URL fixes
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
  src/app/councillors/[contactSlug]/page.tsx
Owners: @mattorchard

Readded actions page intro and dropdown
  src/components/AgendaItemList.tsx
Owners: none

Fixed lint
  src/components/AgendaItemList.tsx
Owners: none

Issue 56 agenda item tags (#234)
  src/app/actions/page.tsx
  src/components/AgendaItemCard.tsx
  src/components/AgendaItemList.tsx
Owners: @shrouxm

Remove Ward 25 By-Election FAQ from the footer #269 (#271)
  src/components/navigation/Footer.tsx
Owners: none

Move PR template so GH uses it by default
  .github/pull_request_template.md
Owners: none

Update PR template
  .github/pull_request_template.md
Owners: none

Tweak PR template prompts
  .github/pull_request_template.md
Owners: none

Add loremIpsumtest.md with sample content
  contents/markdown/loremIpsumtest.md
Owners: none

Create Wardswiki.md
  contents/markdown/Wardswiki.md
Owners: none

Add PR template (#273)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
Owners: none

Add WIKIDOCUMENTATION.md with GitHub workflow steps
  docs/WIKIDOCUMENTATION.md
Owners: none

ensuring someone doesn't automatically commit the wiki generated pages
  .gitignore
Owners: none

small SEO updates to the wiki pages
  src/app/wiki/[slug]/page.tsx
  src/app/wiki/page.tsx
Owners: none

Update README with wiki setup
  README.md
Owners: none

wiki headerIds config for marked is deprecated
  src/scripts/markdowntohtml.js
Owners: none

add wiki generated pages to the sitemap
  next-sitemap.config.cjs
  next-sitemap.config.mjs
  package.json
Owners: none

Made /api calls to resemble what is used elsewhere in the codebase
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
  src/app/councillors/[contactSlug]/page.tsx
Owners: @mattorchard

Update header format in WIKIDOCUMENTATION.md
  docs/WIKIDOCUMENTATION.md
Owners: none

Rename WIKIDOCUMENTATION.md to WIKI_PAGES.md
  docs/WIKI_PAGES.md
Owners: none

Added header section
  docs/WIKI_PAGES.md
Owners: none

Changing COMING SOON for the actual wiki page
  src/app/how-council-works/page.tsx
Owners: @sarmilan

fix lint
  src/app/how-council-works/page.tsx
Owners: @sarmilan

Changing COMING SOON for the actual wiki page URL on "How council work" page (#289)
  src/app/how-council-works/page.tsx
Owners: @sarmilan

better error handling when call to CSRF fails
  src/api/cityCouncilRequest.ts
Owners: none

fix: add new headers for CSRF request to fix agenda item update script
  src/api/cityCouncilRequest.ts
Owners: none

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan
