Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan

Changed name in navigation
  src/constants/navigation.ts
Owners: none

Removed unused script
  package.json
Owners: none

Filename changes to match wiki
  src/app/wiki/page.tsx
  src/constants/navigation.ts
Owners: none

Changing back deploy.yml
  .github/workflows/deploy.yml
Owners: none

Fixed eslint comma error
  src/constants/navigation.ts
Owners: none

Fixed wiki/page.tsx eslint 2018 error
  src/app/wiki/page.tsx
Owners: none

update compatibility date of wrangler to a date that supports FinalizationRegistry
  wrangler.toml
Owners: none

#257 update compatibility date of wrangler to fix issue with councillor page (#258)
  wrangler.toml
Owners: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Minor changes to README + move email instructions there
  README.md
Owners: none

Link to our github project docs + Move email section
  docs/CONTRIBUTING.md
Owners: none

Add info about teams on contributing document
  docs/CONTRIBUTING.md
Owners: none

Added backend pagination
  src/app/api/councillor-items/route.ts
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
  src/app/councillors/[contactSlug]/components/CouncillorVoteContent.tsx
  src/app/councillors/[contactSlug]/page.tsx
Owners: @mattorchard

Removed export of route function. Set AgendaItemResults placeholders to state loading rather than not found
  src/app/api/councillor-items/route.ts
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Read/set tags from url in Actions page (#254)
  src/app/actions/page.tsx
  src/components/AgendaItemList.tsx
  src/components/search.tsx
Owners: @shrouxm

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Update docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Fixed merge issue
  src/components/AgendaItemList.tsx
Owners: none

Updated file with new wiki changes
  contents/markdown/info.md
Owners: none

Testing changes on preview url
  public/html/index.html
  public/html/info.html
  src/app/info/page.tsx
Owners: none

Removed html files to test build script
  public/html/index.html
  public/html/info.html
  public/html/test.html
Owners: none

Fixing eslint issues
  src/app/info/page.tsx
  src/constants/navigation.ts
Owners: none

Changed page.tsx to read all html files in public/html folder
  src/app/info/page.tsx
Owners: none

Changed preview.yml
  .github/workflows/preview.yml
Owners: none

test change
  README.md
Owners: none

Changed approach to use fetch and not fs as it doesnt work in cloudflare
  public/html/manifest.json
  src/app/info/page.tsx
  src/scripts/markdowntohtml.js
Owners: none

Testing fix
  src/app/info/page.tsx
Owners: none

eslint
  src/app/info/page.tsx
Owners: none

Changed page to use fetch again
  src/app/info/page.tsx
Owners: none

Changed page.tsx
  src/app/info/page.tsx
Owners: none

Testing server/client
  src/app/info/htmlDocumentsClient.tsx
  src/app/info/page.tsx
Owners: none

changed
  src/app/info/page.tsx
Owners: none

Renaming to be wiki, removed manifest.json
  public/html/manifest.json
  src/app/wiki/htmlDocumentsClient.tsx
  src/app/wiki/page.tsx
  src/constants/navigation.ts
Owners: none

Changed to display list of generated html pages pending design criteria
  src/app/wiki/htmlDocumentsClient.tsx
Owners: none

Changed name of files, Removed faulty markdown text for Toronto City Government Guide, Modified typescript code to render links
  contents/markdown/Deputations.md
  contents/markdown/Government Guide.md
  src/app/wiki/htmlDocumentsClient.tsx
Owners: none

Removed Deputations from toronto city government guide to isolate in deputations guide
  contents/markdown/Government Guide.md
Owners: none

Fixed linting issues
  src/app/wiki/htmlDocumentsClient.tsx
Owners: none

Changed generated pages, added routing for different html links
  src/app/wiki/[slug]/page.tsx
  src/app/wiki/page.tsx
Owners: none
