Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan

Fixed eslint issues
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

linting issues resolved
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

creat static shell page for ward 25 elections faq
  src/app/ward25faq/page.tsx
Owners: none

use Link, ExternalLink instead of a tag
  src/app/ward25faq/page.tsx
Owners: none

add link to faq in footer nav, update link and external link while we're at it
  src/components/navigation/Footer.tsx
Owners: none

Initial solution to identify and display tags of an agenda item that is selected
  src/components/AgendaItemCard.tsx
Owners: none

creat static shell page for ward 25 elections faq (#227)
  src/app/ward25faq/page.tsx
  src/components/navigation/Footer.tsx
Owners: none

Fix table heading colour in dark mode
  src/app/ward25faq/page.tsx
Owners: none

Add table of contents
  src/app/ward25faq/page.tsx
Owners: none

Fix jump-to content obscured by nav bar
  src/app/globals.css
Owners: none

Add jump to top links
  src/app/ward25faq/page.tsx
Owners: none

Bold subheadings
  src/app/ward25faq/page.tsx
Owners: none

Add tooltips
  src/app/ward25faq/page.tsx
  src/constants/tooltips.ts
Owners: none

Tag link redirects to action page with tag already selected, uses URL params
  src/components/AgendaItemCard.tsx
  src/components/AgendaItemList.tsx
  src/contexts/SearchContext.tsx
Owners: none

test
  README.md
Owners: none

Changing button to Button Component, continuing work on button variants
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Fixed styling with variants
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Resolved changes requested
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Updated code based on code review comments from 17cliu
  src/components/AgendaItemList.tsx
  src/components/search.tsx
  src/components/ui/combobox.tsx
  src/constants/sortByFilterOptions.ts
Owners: none

Fixed lint errors
  src/components/search.tsx
Owners: none

update version wrangler and cloudflare node packages because previews are broken #231
  package-lock.json
  package.json
Owners: none

newer version of the open-next.config.ts + R2 cache + new deploy scripts
  next-sitemap.config.cjs
  open-next.config.ts
  package-lock.json
  package.json
  wrangler.toml
Owners: none

update our github scripts to use the new scripts command for cloudflare
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
Owners: none

enable preview URLs again
  .github/workflows/preview.yml
  package.json
  wrangler.toml
Owners: none

update version wrangler and cloudflare node packages because previews are broken #231 (#232)
  .github/workflows/deploy.yml
  next-sitemap.config.cjs
  open-next.config.ts
  package-lock.json
  package.json
  wrangler.toml
Owners: none

Fixed lint issues
  src/components/AgendaItemCard.tsx
  src/components/AgendaItemList.tsx
  src/contexts/SearchContext.tsx
Owners: none

Missed lint issue fix
  src/components/AgendaItemCard.tsx
Owners: none

Improvements to the Ward 25 by-election FAQ page (#228)
  src/app/globals.css
  src/app/ward25faq/page.tsx
  src/constants/tooltips.ts
Owners: none

try to fix issue with preview by updating wrangler
  .gitignore
  package-lock.json
  package.json
Owners: none

disable R2 caching, our app isn't built for that
  open-next.config.ts
Owners: none

disable R2 caching, our app isn't built for that (#237)
  open-next.config.ts
Owners: none

Added Change for margin
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Added vitest and unit tests, implemented initial URL and state functionality
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .gitignore
  package-lock.json
  package.json
  src/contexts/SearchContext.tsx
  tests/unit/SearchContext.test.ts
  vitest.config.ts
Owners: none

Added initial cypress component test, will have to add helper functions for router mock
  cypress.config.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  src/contexts/SearchContext.tsx
  src/logic/queryState.ts
  tests/component/SearchBar.cy.tsx
  tests/unit/queryState.test.ts
Owners: none

Pagination for the Councillor's Pages (#229)
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
Owners: @mattorchard

Added background resource links to full agenda item card (#222)
  src/components/AgendaItemCard.tsx
Owners: none

Fixes to use of useSearchParams() and updating searchOptions context. Search for tags now searches recommendation (when available) and title text in addition to summary
  src/components/AgendaItemCard.tsx
  src/components/AgendaItemList.tsx
  src/components/search.tsx
  src/contexts/SearchContext.tsx
Owners: none

UI changes to tags in AgendaCard
  src/components/AgendaItemCard.tsx
Owners: none

Added suspense boundary. Removed a comment
  src/app/actions/page.tsx
  src/components/AgendaItemCard.tsx
Owners: @shrouxm

Update src/components/search.tsx
  src/components/search.tsx
Owners: none
