Repository civic-dashboard/civic-dashboard-web, changes with the owners that CODEOWNERS names for each.
All owners: @shrouxm, @mattorchard, @sarmilan

push new .sh file
  src/scripts/query_TMMIS.sh
Owners: none

update docs
  README.md
  docs/DATASOURCES.md
Owners: none

updating next to 14.2.35 to fix vulnerabilities
  package-lock.json
  package.json
Owners: none

Adds mayor to voting records page + update councillor page header (#157)
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
  src/app/councillors/[contactSlug]/page.tsx
  src/app/councillors/page.tsx
  src/components/Avatar.tsx
  src/components/CouncillorsList.tsx
  src/scripts/repopulateRawContactsAndVotes.ts
Owners: @mattorchard

Past items logic on actions page keeps item in "Upcoming" until midnight
  src/backend/emails/subscriptions.ts
  src/components/search.tsx
  src/contexts/SearchContext.tsx
Owners: none

define variable startOfToday earlier
  src/backend/emails/subscriptions.ts
  src/contexts/SearchContext.tsx
Owners: none

comments
  docs/CONTRIBUTING.md
Owners: none

Issue 342: update CONTRIBUTING.md (#343)
  docs/CONTRIBUTING.md
Owners: none

Pass tagKey to DisplayTag
  src/components/AgendaItemCard.tsx
Owners: none

perf optimizations
  src/components/AgendaItemCard.tsx
Owners: none

checking on JQ and 200
  src/scripts/query_TMMIS.sh
Owners: none

Provide an easy curl bash script to query TMMIS (#366)
  README.md
  docs/DATASOURCES.md
  src/scripts/query_TMMIS.sh
Owners: none

Open Graph description using the first paragraph of agendaItemSummary
  src/app/actions/item/[reference]/page.tsx
  src/logic/sanitize.ts
Owners: @shrouxm

updating next to 14.2.35 to fix vulnerabilities (#367)
  package-lock.json
  package.json
Owners: none

Related Tags URL when there is tag with a space is wrong (#372)
  src/components/AgendaItemCard.tsx
Owners: none

Open Graph description using the first paragraph of agendaItemSummary on the agenda item page (#377)
  src/app/actions/item/[reference]/page.tsx
  src/logic/sanitize.ts
Owners: @shrouxm

bring itemStatus, decisionRecommendations and decisionAdvice to the agenda item card
  src/components/AgendaItemCard.tsx
  src/logic/strings.ts
Owners: none

Actions should only transition to "Past Items" at the end of the day (#370)
  src/backend/emails/subscriptions.ts
  src/components/search.tsx
  src/contexts/SearchContext.tsx
Owners: none

add voting record on agenda item page
  src/app/actions/item/[reference]/page.tsx
  src/components/AgendaItemCard.tsx
  src/components/Avatar.tsx
  src/components/VotingRecord.tsx
  src/database/queries/agendaItems.ts
Owners: @shrouxm

fix lint
  src/components/VotingRecord.tsx
Owners: none

also ignore status 'WO_RECS'
  src/components/AgendaItemCard.tsx
Owners: none

We were sometimes hiding the summary title when we shouldn't
  src/components/AgendaItemCard.tsx
Owners: none

Remove raccoon teacher image from GovernmentGuide
  contents/markdown/GovernmentGuide.md
Owners: none

Delete contents/media/images/raccoonteacher.png
  contents/media/images/raccoonteacher.png
Owners: none

Update AgendaItemCard.tsx
  src/components/AgendaItemCard.tsx
Owners: none

Accessibility fixes
  src/components/Avatar.tsx
  src/components/VotingRecord.tsx
Owners: none

fix lint
  src/components/Avatar.tsx
  src/components/VotingRecord.tsx
Owners: none

Adding a little separation between Recommendation and Summary
  src/components/AgendaItemCard.tsx
Owners: none

all changes
  src/api/geoservices.ts
  src/app/api/postal-code-wards/route.ts
  src/app/councillors/[contactSlug]/components/CouncillorBio.tsx
  src/app/councillors/[contactSlug]/page.tsx
  src/app/councillors/page.tsx
  src/components/CouncillorListContainer.tsx
  src/components/CouncillorsList.tsx
  src/components/PostalCodeSearch.tsx
  src/components/SearchInput.tsx
  src/database/allDbTypes.d.ts
Owners: @mattorchard

centralize the logic for the start of the day + fix bug where items were moving prematurely to past items
  src/backend/emails/subscriptions.ts
  src/components/AgendaItemCard.tsx
  src/components/search.tsx
  src/contexts/SearchContext.tsx
  src/logic/date.ts
Owners: none

performance improvement
  src/components/AgendaItemCard.tsx
  src/logic/date.ts
Owners: none

fixes
  src/components/search.tsx
  src/logic/date.ts
Owners: none

implement automatic agenda item categorization and improve subject term processing
  .github/workflows/seed_database.yml
  seeds/1750790001580_AgendaItemCategories.ts
  src/database/pipelines/populateAgendaItems.ts
  src/database/queries/agendaItems.ts
  src/scripts/processAgendaItemSubjectTerms.ts
Owners: none

Past Actions (agenda items) should show status & decisions (#379)
  src/components/AgendaItemCard.tsx
  src/logic/strings.ts
Owners: none

Display councillor voting record on action (agenda item page) (#380)
  src/app/actions/item/[reference]/page.tsx
  src/components/AgendaItemCard.tsx
  src/components/Avatar.tsx
  src/components/VotingRecord.tsx
  src/database/queries/agendaItems.ts
Owners: @shrouxm

Synchronize councillor voting UI with action search results
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
  src/app/councillors/[contactSlug]/components/SummaryPanel.tsx
  src/app/councillors/[contactSlug]/types.ts
  src/logic/councillorItems.ts
Owners: @mattorchard

small padding adjustments
  src/app/councillors/[contactSlug]/components/AgendaItemResults.tsx
  src/app/councillors/[contactSlug]/components/MotionsList.tsx
Owners: @mattorchard

Populate Agenda Item Categories (Tagging backend) (#390)
  .github/workflows/seed_database.yml
  seeds/1750790001580_AgendaItemCategories.ts
  src/database/pipelines/populateAgendaItems.ts
  src/database/queries/agendaItems.ts
  src/scripts/processAgendaItemSubjectTerms.ts
Owners: none

commit bunch of scripts
  seeds/Subject Term Similarity - All terms.csv
  seeds/all_terms.csv
  seeds/all_terms_only.txt
  seeds/categories_json_only.txt
  seeds/category_tags_generated.json
  seeds/generated_tags_missing_from_original.txt
  seeds/similarities.csv
  src/scripts/compareGeneratedVsOriginal.ts
  src/scripts/compare_all_terms_csv_vs_json.sh
  src/scripts/compare_similarities_csv_vs_json.sh
  src/scripts/compare_subject_term_similarity_csv_vs_json.sh
  src/scripts/countDistinctSlugs.ts
  src/scripts/count_unique_subject_terms.sh
  src/scripts/findMissingTagSlugs.ts
  src/scripts/generateCategoryTags.ts
  src/scripts/list_categories.sh
Owners: none

first draft of changes
  src/components/AgendaItemCard.tsx
  src/components/search.tsx
  src/constants/tags.ts
  src/database/queries/agendaItems.ts
  src/database/queries/subscriptions.ts
  src/logic/parseQuery.ts
Owners: none

CODEOWNERS:

src/app/actions @shrouxm
src/api/agenda-item @shrouxm

src/app/councillors @mattorchard

src/app/how-council-works @sarmilan
